# MongoDB Connection
DATABASE_URL="mongodb+srv://zyong:CezM9BU5GhoIrzqq@cluster0pos.q3reclx.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0JALTrainingEXAM"

# Admin API Key
ADMIN_API_KEY="29e2bb1d4ae031ed47b6"
